@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --font-family: 'FONT_TOKEN_VAR', sans-serif;
}

html {
  font-family: var(--font-family);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .card-hover {
    @apply transition-all duration-300 hover:scale-105 hover:shadow-2xl;
  }
}
